* {
    margin: 0px;
    padding: 0px;
}


html {
/* background-color: #eee; */
}

body {
    font-family: 'Adobe Garamond Pro', Baskerville, Georgia, serif;
    background-color: #eed;
    width: 80%;
    margin: 0px auto;
    padding: 4em;
    font-size: 1em;
    line-height: 1.3em;
}

a {
   color: #008800; 
}

h1, h2, h3, h4, h5 {
    font-family: Helvetica Neue, Gill Sans, sans-serif;
}

h1 {
    font-size: 4em;
    margin-bottom: 1em;
    margin-top: 0.5em;
}

h2 {
    font-size: 2em;
    margin-top: 1.2em;
    margin-bottom: 0.5em;
}

h3 {
    font-size: 1.2em;
    margin-bottom: 0.2em;
    margin-top: 1em;
}

h4 {
    font-size: 1em;
    margin-bottom: 0.3em;
    margin-top: 1em;
}

h3, h4, h5 {
    color: #555;
}

ul, ol {
    padding-left: 1em;
}

p, ul, ol {
    margin-top: 0em;
    margin-bottom: 0.6em;
}

td {
    padding: 0.3em;
}

.outline-3 {
    margin-left: 0.5em;
}

#postamble {
    color: #555;
    margin-top: 3em;
    border-top: 1px solid #000;
}

.title {
    font-size: 3em;
    text-align: center;
    padding: 0.3em;
    border-bottom: 2px solid #000;
}

.todo  {
    color: red;
}

.done {
    color: green;
}

.timestamp {
    color: #aa9;
}

.timestamp-kwd {
    color: CadetBlue;
}

.tag {
    background-color: lightblue;
    font-weight: normal;
}

.target {
    background-color: lavender;
}

pre {
    font-size: 0.8em;
    border: 1pt solid #ccb;
    background-color: #ddc;
    padding: 5pt;
    font-family: menlo, monaco, monospace;
    margin: 0.3em;
}

dt, dd {
    display: block;
}

dt {
    float: left;
    margin-right: 0.4em;
}