* {
  margin: 0px;
  padding: 0px;
}
ul, ol, dl, li, dt, dd, h1, h2, h3, h4, h5, h6, pre, form, body, html, p, blockquote, fieldset, input {
  margin: 0;
  padding: 0;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
}
a { color: #001166; }
body {
  font-family: Baskerville, Adobe Garamond Pro, Palatino, Georgia, serif;
  color: #000000;
  font-size: 16px;
  line-height: 22px;
  background: #eeeedd;
  z-index: 9999;
  padding: 60px;
  text-align: left;
  width: 60%;
  max-width: 500px;
  margin: 0 auto;
}
img, table {
  max-width: 100% !important;
  height: auto;
  overflow: auto;
}
pre, code, tt {
  font-family: monaco, monospace;
  overflow: auto;
  font-size: 12px;
  margin: 0;
}
pre {
  padding: 1em;
  font-size: 12px;
  line-height: 16px;
  border: 1px solid #bbbbbb;
  background-color: #ffffff;
  margin-bottom: 22px;
}
h1, h2, h3, h4, h5, h6 {
  color: #000000;
  font: normal bold 1em Helvetica, Arial, sans-serif;
  border: 0;
}
h1 {
  font-size: 36px;
  line-height: 44px;
  margin-top: 44px;
  margin-bottom: 22px;
  border: 0;
}
h1 * {
  font-size: 36px;
  line-height: 44px;
  margin-top: 44px;
  margin-bottom: 22px;
  border: 0;
}
h2 {
  font-size: 19px;
  line-height: 22px;
  border-bottom: 1px solid #aaaaaa;
  margin: 44px 0px 22px;
  padding-top: 19px;
  padding-bottom: 2px;
}
h2 * {
  line-height: inherit;
  border: 0;
}
h3 {
  font-size: 16px;
  line-height: inherit;
  margin: 22px 0px 0px 0px;
}
h3 * {
  line-height: inherit;
  border: none;
}
h4:after { content: ": "; }
h4 {
  display: run-in;
  line-height: inherit;
  font-size: 12px;
  margin: 22px 0px 0px 0px;
}
h4 * {
  line-height: inherit;
  border: 0;
}
p, ol, ul, dl, table, blockquote {
  margin-top: 0px;
  margin-bottom: 22px;
  padding: 0;
}
blockquote {
  font-style: italic;
  padding: 0 44px;
}
ol, ul { margin-left: 1em; }
sub {
  vertical-align: text-bottom;
  font-size: 60%;
}
sup {
  font-size: 80%;
  line-height: 80%;
}
td { padding: 0.3em; }
#postamble {
  color: #555555;
  margin-top: 3em;
  border-top: 1px solid #000000;
}
.todo { color: red; }
.done { color: green; }
.timestamp { color: #aaaa99; }
.timestamp-kwd { color: CadetBlue; }
.tag {
  background-color: lightblue;
  font-weight: normal;
}
.target { background-color: lavender; }
pre {
  font-size: 0.7em;
  line-height: 1.3em;
  border: 1pt solid #ccccbb;
  background-color: #ddddcc;
  padding: 5pt;
  font-family: menlo, monaco, monospace;
  margin: 1em;
}
dd { margin-left: 1em; }
dt {
  font-weight: bold;
  margin-right: 0.4em;
}
table {
  border: none;
  border: 1pt solid #ccccbb;
  background-color: #ddddcc;
}
tbody {
  border-top: 3px solid #ccccbb;
  border-right: 1px solid #ccccbb;
  border-left: 1px solid #ccccbb;
}
th {
  font-family: Helvetica Neue, Gill Sans, sans-serif;
  color: #555555;
  font-weight: bold;
  padding-left: 0.5em;
  padding-right: 0.5em;
}
td {
  border-right: 1px dashed #ccccbb;
  padding: 0.5em;
}
tr { border-bottom: 1px solid #ddddcc; }
tbody tr:hover { background-color: #e5e5d5; }
.org-anything-bookmarks-su { color: #ff0000; }
.org-anything-dir-heading {
  color: #0000ff;
  background-color: #ffc0cb;
}
.org-anything-dir-priv {
  color: #8b0000;
  background-color: #d3d3d3;
}
.org-anything-file-name { color: #0000ff; }
.org-anything-gentoo-match { color: #ff0000; }
.org-anything-header {
  color: #333333;
  background-color: #e5e5e5;
}
.org-anything-isearch-match { background-color: #ffff00; }
.org-anything-visible-mark { background-color: #00ff00; }
.org-anything-w3m-bookmarks {
  color: #00ffff;
  text-decoration: underline;
}
.org-bold {
  color: #cd0000;
  font-weight: bold;
}
.org-bold-italic {
  color: #ff0000;
  font-weight: bold;
  font-style: italic;
}
.org-border { background-color: #000000; }
.org-buffer-menu-buffer { font-weight: bold; }
.org-builtin { color: #da70d6; }
.org-button { text-decoration: underline; }
.org-c-nonbreakable-space {
  background-color: #f57900;
  font-weight: bold;
}
.org-change-log-acknowledgement {
  color: #cd0000;
  font-weight: bold;
  font-style: italic;
}
.org-change-log-conditionals { color: #8b5a2b; }
.org-change-log-date { color: #008b00; }
.org-change-log-email { color: #8b5a2b; }
.org-change-log-file { color: #0000ff; }
.org-change-log-function { color: #8b5a2b; }
.org-change-log-list {
  color: #a020f0;
  font-weight: bold;
}
.org-change-log-name { color: #b03060; }
.org-comint-highlight-input {
  font-weight: bold;
  font-style: italic;
}
.org-comint-highlight-prompt { color: #8ae234; }
.org-comment, .org-comment-delimiter {
  color: #cd0000;
  font-weight: bold;
  font-style: italic;
}
.org-compilation-column-number { color: #000080; }
.org-compilation-error {
  color: #ff0000;
  font-weight: bold;
}
.org-compilation-info {
  color: #00cd00;
  font-weight: bold;
}
.org-compilation-line-number { color: #8b5a2b; }
.org-compilation-warning {
  color: #ffa500;
  font-weight: bold;
}
.org-completions-common-part {
  color: #000000;
  background-color: #ffffff;
}
.org-completions-first-difference {
  color: #cd0000;
  font-weight: bold;
}
.org-constant { color: #000080; }
.org-cua-global-mark {
  color: #000000;
  background-color: #ffff00;
}
.org-cua-rectangle {
  color: #ffffff;
  background-color: #b03060;
}
.org-cua-rectangle-noselect {
  color: #ffffff;
  background-color: #696969;
}
.org-cursor { background-color: #ff0000; }
.org-custom-button-mouse {
  color: #000000;
  background-color: #e5e5e5;
}
.org-custom-button-pressed {
  color: #000000;
  background-color: #d3d3d3;
}
.org-custom-button-pressed-unraised {
  color: #8b008b;
  text-decoration: underline;
}
.org-custom-button-unraised { text-decoration: underline; }
.org-custom-changed {
  color: #ffffff;
  background-color: #0000ff;
}
.org-custom-comment { background-color: #d9d9d9; }
.org-custom-comment-tag { color: #00008b; }
.org-custom-face-tag { text-decoration: underline; }
.org-custom-group-tag {
  color: #0000ff;
  text-decoration: underline;
}
.org-custom-group-tag-1 {
  color: #ff0000;
  text-decoration: underline;
}
.org-custom-invalid {
  color: #ffff00;
  background-color: #ff0000;
}
.org-custom-link {
  color: #0000ff;
  text-decoration: underline;
}
.org-custom-modified {
  color: #ffffff;
  background-color: #0000ff;
}
.org-custom-rogue {
  color: #ffc0cb;
  background-color: #000000;
}
.org-custom-saved { text-decoration: underline; }
.org-custom-set {
  color: #0000ff;
  background-color: #ffffff;
}
.org-custom-state { color: #006400; }
.org-custom-themed {
  color: #ffffff;
  background-color: #0000ff;
}
.org-custom-variable-button {
  font-weight: bold;
  text-decoration: underline;
}
.org-custom-variable-tag {
  color: #0000ff;
  text-decoration: underline;
}
.org-default {
  color: #000000;
  background-color: #ffffff;
}
.org-diff-context { color: #7f7f7f; }
.org-diff-file-header {
  background-color: #b3b3b3;
  font-weight: bold;
}
.org-diff-function, .org-diff-header, .org-diff-hunk-header { background-color: #d9d9d9; }
.org-diff-index {
  background-color: #b3b3b3;
  font-weight: bold;
}
.org-diff-nonexistent {
  background-color: #b3b3b3;
  font-weight: bold;
}
.org-dired-directory {
  color: #0000ff;
  font-weight: bold;
}
.org-dired-flagged {
  color: #ff0000;
  font-weight: bold;
}
.org-dired-header { color: #000080; }
.org-dired-ignored { color: #7f7f7f; }
.org-dired-mark { color: #000080; }
.org-dired-marked {
  color: #ff0000;
  font-weight: bold;
}
.org-dired-perm-write {
  color: #cd0000;
  font-weight: bold;
  font-style: italic;
}
.org-dired-symlink {
  color: #a020f0;
  font-weight: bold;
}
.org-dired-warning {
  color: #ff0000;
  font-weight: bold;
}
.org-doc { color: #888a85; }
.org-dropdown-list {
  color: #000000;
  background-color: #ffffe0;
}
.org-dropdown-list-selection {
  color: #000000;
  background-color: #a020f0;
}
.org-eieio-custom-slot-tag { color: #0000ff; }
.org-escape-glyph { color: #a52a2a; }
.org-ffap {
  color: #0000ff;
  background-color: #faebd7;
}
.org-file-name-shadow { color: #7f7f7f; }
.org-flymake-errline, .org-flymake-warnline { text-decoration: underline; }
.org-fringe { background-color: #1a1a1a; }
.org-function-name {
  color: #0000ff;
  font-weight: bold;
}
.org-git-header { color: #0000ff; }
.org-git-ignored { color: #999999; }
.org-git-mark {
  color: #ff0000;
  font-weight: bold;
}
.org-git-permission {
  color: #00ff00;
  font-weight: bold;
}
.org-git-separator { color: #a52a2a; }
.org-git-status { color: #a020f0; }
.org-git-unknown {
  color: #daa520;
  font-weight: bold;
}
.org-git-unmerged {
  color: #ff0000;
  font-weight: bold;
}
.org-git-uptodate { color: #999999; }
.org-gnus-cite-attribution { font-style: italic; }
.org-gnus-cite-face-1 { color: #191970; }
.org-gnus-cite-face-10 { color: #9370db; }
.org-gnus-cite-face-11 { color: #40e0d0; }
.org-gnus-cite-face-2 { color: #b22222; }
.org-gnus-cite-face-3 { color: #006400; }
.org-gnus-cite-face-4 { color: #ff4500; }
.org-gnus-cite-face-5 { color: #bdb76b; }
.org-gnus-cite-face-6 { color: #9400d3; }
.org-gnus-cite-face-7 { color: #36648b; }
.org-gnus-cite-face-8 { color: #ff00ff; }
.org-gnus-cite-face-9 { color: #ee82ee; }
.org-gnus-emphasis-bold { font-weight: bold; }
.org-gnus-emphasis-bold-italic {
  font-weight: bold;
  font-style: italic;
}
.org-gnus-emphasis-highlight-words {
  color: #ffff00;
  background-color: #000000;
}
.org-gnus-emphasis-italic { font-style: italic; }
.org-gnus-emphasis-underline { text-decoration: underline; }
.org-gnus-emphasis-underline-bold {
  font-weight: bold;
  text-decoration: underline;
}
.org-gnus-emphasis-underline-bold-italic {
  font-weight: bold;
  font-style: italic;
  text-decoration: underline;
}
.org-gnus-emphasis-underline-italic {
  font-style: italic;
  text-decoration: underline;
}
.org-gnus-group-mail-1 {
  color: #cd1076;
  font-weight: bold;
}
.org-gnus-group-mail-1-empty { color: #cd1076; }
.org-gnus-group-mail-2 {
  color: #cd6090;
  font-weight: bold;
}
.org-gnus-group-mail-2-empty { color: #cd6090; }
.org-gnus-group-mail-3 {
  color: #8b008b;
  font-weight: bold;
}
.org-gnus-group-mail-3-empty { color: #8b008b; }
.org-gnus-group-mail-low {
  color: #8b0a50;
  font-weight: bold;
}
.org-gnus-group-mail-low-empty { color: #8b0a50; }
.org-gnus-group-news-1 {
  color: #0000ee;
  font-weight: bold;
}
.org-gnus-group-news-1-empty { color: #0000ee; }
.org-gnus-group-news-2 {
  color: #53868b;
  font-weight: bold;
}
.org-gnus-group-news-2-empty { color: #53868b; }
.org-gnus-group-news-3 { font-weight: bold; }
.org-gnus-group-news-4 { font-weight: bold; }
.org-gnus-group-news-5 { font-weight: bold; }
.org-gnus-group-news-6 { font-weight: bold; }
.org-gnus-group-news-low {
  color: #006400;
  font-weight: bold;
}
.org-gnus-group-news-low-empty { color: #006400; }
.org-gnus-header-content {
  color: #0000ff;
  font-style: italic;
}
.org-gnus-header-from, .org-gnus-header-name { color: #cd0000; }
.org-gnus-header-newsgroups {
  color: #191970;
  font-style: italic;
}
.org-gnus-header-subject {
  color: #ff0000;
  font-weight: bold;
}
.org-gnus-signature { color: #ffc0cb; }
.org-gnus-splash { color: #a52a2a; }
.org-gnus-summary-cancelled {
  color: #ffff00;
  background-color: #000000;
}
.org-gnus-summary-high-ancient {
  color: #4169e1;
  font-weight: bold;
}
.org-gnus-summary-high-read {
  color: #000080;
  font-weight: bold;
}
.org-gnus-summary-high-ticked {
  color: #b22222;
  font-weight: bold;
}
.org-gnus-summary-high-undownloaded {
  color: #008b8b;
  font-weight: bold;
}
.org-gnus-summary-high-unread {
  color: #0000ff;
  font-weight: bold;
}
.org-gnus-summary-low-ancient {
  color: #4169e1;
  font-style: italic;
}
.org-gnus-summary-low-read {
  color: #006400;
  font-style: italic;
}
.org-gnus-summary-low-ticked {
  color: #b22222;
  font-style: italic;
}
.org-gnus-summary-low-undownloaded {
  color: #008b8b;
  font-style: italic;
}
.org-gnus-summary-low-unread { font-style: italic; }
.org-gnus-summary-normal-ancient { color: #4169e1; }
.org-gnus-summary-normal-read { color: #cd0000; }
.org-gnus-summary-normal-ticked { color: #000000; }
.org-gnus-summary-normal-undownloaded { color: #008b8b; }
.org-gnus-summary-normal-unread {
  color: #cd0000;
  font-weight: bold;
}
.org-gnus-summary-selected { text-decoration: underline; }
.org-header-line {
  color: #333333;
  background-color: #e5e5e5;
}
.org-help-argument-name { font-style: italic; }
.org-highlight {
  color: #0000ff;
  background-color: #faebd7;
}
.org-highlight-current-line { background-color: #1c1c1c; }
.org-ido-first-match { font-weight: bold; }
.org-ido-incomplete-regexp {
  color: #ff0000;
  font-weight: bold;
}
.org-ido-indicator {
  color: #ffff00;
  background-color: #ff0000;
}
.org-ido-only-match { color: #228b22; }
.org-ido-subdir, .org-ido-subdir-1 { color: #ff0000; }
.org-info-xref { color: #729fcf; }
.org-info-xref-visited { color: #ad7fa8; }
.org-isearch {
  color: #2e3436;
  background-color: #f57900;
}
.org-italic { font-style: italic; }
.org-jde-bug-breakpoint-cursor {
  color: #00ffff;
  background-color: #a52a2a;
}
.org-jde-db-active-breakpoint {
  color: #000000;
  background-color: #ff0000;
}
.org-jde-db-requested-breakpoint {
  color: #000000;
  background-color: #ffff00;
}
.org-jde-db-spec-breakpoint {
  color: #000000;
  background-color: #00ff00;
}
.org-jde-java-font-lock-api { color: #b8860b; }
.org-jde-java-font-lock-bold { font-weight: bold; }
.org-jde-java-font-lock-constant { color: #5f9ea0; }
.org-jde-java-font-lock-constructor { color: #00008b; }
.org-jde-java-font-lock-doc-tag { color: #008b00; }
.org-jde-java-font-lock-italic { font-style: italic; }
.org-jde-java-font-lock-javadoc { color: #888a85; }
.org-jde-java-font-lock-link {
  color: #0000ff;
  text-decoration: underline;
}
.org-jde-java-font-lock-modifier { color: #da70d6; }
.org-jde-java-font-lock-number { color: #bc8f8f; }
.org-jde-java-font-lock-operator, .org-jde-java-font-lock-package { color: #0000cd; }
.org-jde-java-font-lock-private, .org-jde-java-font-lock-protected, .org-jde-java-font-lock-public { color: #da70d6; }
.org-jde-java-font-lock-underline { text-decoration: underline; }
.org-keyword {
  color: #a020f0;
  font-weight: bold;
}
.org-lazy-highlight {
  color: #2e3436;
  background-color: #e9b96e;
}
.org-link {
  color: #0000ff;
  text-decoration: underline;
}
.org-link-visited {
  color: #8b008b;
  text-decoration: underline;
}
.org-mac-ts-block-fill-text { text-decoration: underline; }
.org-mac-ts-converted-text { text-decoration: underline; }
.org-mac-ts-no-hilite {
  color: #000000;
  background-color: #ffffff;
}
.org-mac-ts-outline-text, .org-mac-ts-raw-text, .org-mac-ts-selected-converted-text, .org-mac-ts-selected-raw-text, .org-mac-ts-selected-text { text-decoration: underline; }
.org-magit-branch { font-weight: bold; }
.org-magit-diff-add { color: #0000ff; }
.org-magit-diff-del { color: #ff0000; }
.org-magit-diff-hunk-header { font-style: italic; }
.org-magit-item-highlight { background-color: #f2f2f2; }
.org-magit-item-mark { color: #ff0000; }
.org-magit-log-head-label { background-color: #00ff7f; }
.org-magit-log-tag-label { background-color: #eedd82; }
.org-magit-section-title { font-weight: bold; }
.org-makefile-space { background-color: #ff69b4; }
.org-match { background-color: #ffff00; }
.org-message-cited-text, .org-message-cited-text-1 { color: #ff0000; }
.org-message-header-cc, .org-message-header-cc-1 { color: #191970; }
.org-message-header-name, .org-message-header-name-1 { color: #6495ed; }
.org-message-header-newsgroups, .org-message-header-newsgroups-1 {
  color: #00008b;
  font-weight: bold;
  font-style: italic;
}
.org-message-header-other, .org-message-header-other-1 { color: #4682b4; }
.org-message-header-subject, .org-message-header-subject-1 {
  color: #000080;
  font-weight: bold;
}
.org-message-header-to, .org-message-header-to-1 {
  color: #191970;
  font-weight: bold;
}
.org-message-header-xheader, .org-message-header-xheader-1 { color: #0000ff; }
.org-message-mml, .org-message-mml-1 { color: #228b22; }
.org-message-separator, .org-message-separator-1 { color: #a52a2a; }
.org-minibuffer-prompt {
  color: #729fcf;
  font-weight: bold;
}
.org-mode-line, .org-mode-line-buffer-id {
  color: #000000;
  background-color: #dda0dd;
}
.org-mode-line-inactive {
  color: #333333;
  background-color: #e5e5e5;
}
.org-modeline-mousable, .org-modeline-mousable-minor-mode {
  color: #000000;
  background-color: #dda0dd;
}
.org-mouse { background-color: #000000; }
.org-next-error { background-color: #dda0dd; }
.org-nobreak-space {
  color: #a52a2a;
  text-decoration: underline;
}
.org-nxml-attribute-colon, .org-nxml-attribute-local-name, .org-nxml-attribute-prefix { color: #257a25; }
.org-nxml-attribute-value { color: #3a3a7b; }
.org-nxml-attribute-value-delimiter { color: #9292c9; }
.org-nxml-cdata-section-cdata { color: #257a25; }
.org-nxml-cdata-section-delimiter, .org-nxml-char-ref-delimiter, .org-nxml-char-ref-number { color: #9292c9; }
.org-nxml-comment-content { font-style: italic; }
.org-nxml-comment-delimiter { color: #9292c9; }
.org-nxml-delimited-data { color: #3a3a7b; }
.org-nxml-delimiter { color: #9292c9; }
.org-nxml-element-colon, .org-nxml-element-local-name, .org-nxml-element-prefix { color: #257a25; }
.org-nxml-entity-ref-delimiter, .org-nxml-entity-ref-name { color: #9292c9; }
.org-nxml-glyph {
  color: #000000;
  background-color: #d3d3d3;
}
.org-nxml-hash { color: #257a25; }
.org-nxml-heading { font-weight: bold; }
.org-nxml-markup-declaration-delimiter { color: #9292c9; }
.org-nxml-name, .org-nxml-namespace-attribute-colon, .org-nxml-namespace-attribute-prefix { color: #257a25; }
.org-nxml-namespace-attribute-value { color: #3a3a7b; }
.org-nxml-namespace-attribute-value-delimiter { color: #9292c9; }
.org-nxml-namespace-attribute-xmlns { color: #257a25; }
.org-nxml-outline-active-indicator {
  color: #000000;
  background-color: #ffffff;
}
.org-nxml-outline-ellipsis {
  color: #000000;
  background-color: #ffffff;
  font-weight: bold;
}
.org-nxml-outline-indicator {
  color: #000000;
  background-color: #ffffff;
}
.org-nxml-processing-instruction-content { color: #3a3a7b; }
.org-nxml-processing-instruction-delimiter { color: #9292c9; }
.org-nxml-processing-instruction-target, .org-nxml-prolog-keyword { color: #257a25; }
.org-nxml-prolog-literal-content { color: #3a3a7b; }
.org-nxml-prolog-literal-delimiter, .org-nxml-ref, .org-nxml-tag-delimiter { color: #9292c9; }
.org-nxml-tag-slash { color: #257a25; }
.org-org-agenda-clocking { background-color: #ffff00; }
.org-org-agenda-column-dateline { background-color: #4d4d4d; }
.org-org-agenda-date { color: #87cefa; }
.org-org-agenda-date-today {
  color: #87cefa;
  font-weight: bold;
  font-style: italic;
}
.org-org-agenda-date-weekend {
  color: #87cefa;
  font-weight: bold;
}
.org-org-agenda-dimmed-todo { color: #7f7f7f; }
.org-org-agenda-done { color: #228b22; }
.org-org-agenda-restriction-lock { background-color: #ffff00; }
.org-org-agenda-structure { color: #0000ff; }
.org-org-archived, .org-org-block { color: #7f7f7f; }
.org-org-checkbox {
  color: #cd0000;
  font-weight: bold;
}
.org-org-checkbox-statistics-done {
  color: #98fb98;
  font-weight: bold;
}
.org-org-checkbox-statistics-todo {
  color: #ffc0cb;
  font-weight: bold;
}
.org-org-clock-overlay { background-color: #ffff00; }
.org-org-code { color: #7f7f7f; }
.org-org-column { background-color: #4d4d4d; }
.org-org-column-title {
  background-color: #e5e5e5;
  font-weight: bold;
  text-decoration: underline;
}
.org-org-date {
  color: #a020f0;
  text-decoration: underline;
}
.org-org-done {
  color: #98fb98;
  font-weight: bold;
}
.org-org-drawer { color: #0000ff; }
.org-org-ellipsis {
  color: #b8860b;
  text-decoration: underline;
}
.org-org-footnote {
  color: #a020f0;
  text-decoration: underline;
}
.org-org-formula { color: #b22222; }
.org-org-headline-done { color: #bc8f8f; }
.org-org-hide { color: #ffffff; }
.org-org-latex-and-export-specials { color: #8b4513; }
.org-org-level-1 { color: #0000ff; }
.org-org-level-2 { color: #b8860b; }
.org-org-level-3 { color: #a020f0; }
.org-org-level-4 { color: #b22222; }
.org-org-level-5 { color: #228b22; }
.org-org-level-6 { color: #5f9ea0; }
.org-org-level-7 { color: #da70d6; }
.org-org-level-8 { color: #bc8f8f; }
.org-org-link {
  color: #a020f0;
  text-decoration: underline;
}
.org-org-meta-line {
  color: #cd0000;
  font-weight: bold;
  font-style: italic;
}
.org-org-mode-line-clock {
  color: #eeeeec;
  background-color: #555753;
}
.org-org-scheduled { color: #006400; }
.org-org-scheduled-previously { color: #b22222; }
.org-org-scheduled-today { color: #006400; }
.org-org-sexp-date { color: #a020f0; }
.org-org-special-keyword { color: #bc8f8f; }
.org-org-table { color: #0000ff; }
.org-org-tag { font-weight: bold; }
.org-org-target { text-decoration: underline; }
.org-org-time-grid { color: #b8860b; }
.org-org-todo {
  color: #ffc0cb;
  font-weight: bold;
}
.org-org-upcoming-deadline { color: #b22222; }
.org-org-verbatim { color: #7f7f7f; }
.org-org-warning {
  color: #ff0000;
  font-weight: bold;
}
.org-outline-1 {
  color: #0000ff;
  font-weight: bold;
}
.org-outline-2 { color: #8b5a2b; }
.org-outline-3 {
  color: #a020f0;
  font-weight: bold;
}
.org-outline-4 { color: #da70d6; }
.org-outline-5 {
  color: #cd0000;
  font-weight: bold;
  font-style: italic;
}
.org-outline-6, .org-outline-7 { color: #000080; }
.org-outline-8 { color: #008b00; }
.org-preprocessor { color: #da70d6; }
.org-pulse-highlight, .org-pulse-highlight-start { background-color: #ffffaa; }
.org-query-replace {
  color: #2e3436;
  background-color: #f57900;
}
.org-regexp-grouping-backslash, .org-regexp-grouping-construct {
  color: #cd0000;
  font-weight: bold;
}
.org-region { background-color: #dda0dd; }
.org-rng-error { text-decoration: underline; }
.org-rst-level-1 { background-color: #d9d9d9; }
.org-rst-level-2 { background-color: #c7c7c7; }
.org-rst-level-3 { background-color: #b5b5b5; }
.org-rst-level-4 { background-color: #a3a3a3; }
.org-rst-level-5 { background-color: #919191; }
.org-rst-level-6 { background-color: #7f7f7f; }
.org-secondary-selection { background-color: #98fb98; }
.org-semantic-decoration-on-private-members { background-color: #8fffff; }
.org-semantic-decoration-on-protected-members { background-color: #fffff8; }
.org-semantic-highlight-edits, .org-semantic-highlight-func-current-tag { background-color: #e5e5e5; }
.org-semantic-tag-boundary { text-decoration: overline; }
.org-semantic-unmatched-syntax { text-decoration: underline; }
.org-senator-intangible { color: #404040; }
.org-senator-momentary-highlight { background-color: #b3b3b3; }
.org-senator-read-only { background-color: #ccbbbb; }
.org-shadow { color: #7f7f7f; }
.org-show-paren-match { background-color: #dda0dd; }
.org-show-paren-mismatch {
  color: #ffffff;
  background-color: #000080;
}
.org-speedbar-button { color: #008b00; }
.org-speedbar-directory { color: #00008b; }
.org-speedbar-file { color: #008b8b; }
.org-speedbar-highlight { background-color: #00ff00; }
.org-speedbar-selected {
  color: #ff0000;
  text-decoration: underline;
}
.org-speedbar-separator {
  color: #ffffff;
  background-color: #0000ff;
  text-decoration: overline;
}
.org-speedbar-tag { color: #a52a2a; }
.org-string { color: #008b00; }
.org-tool-bar {
  color: #000000;
  background-color: #bfbfbf;
}
.org-tooltip {
  color: #000000;
  background-color: #ffffe0;
}
.org-trailing-whitespace { background-color: #ff0000; }
.org-type { color: #000080; }
.org-underline { text-decoration: underline; }
.org-variable-name { color: #8b5a2b; }
.org-warning {
  color: #ff0000;
  font-weight: bold;
}
.org-which-func {
  color: #0000ff;
  font-weight: bold;
}
.org-widget-button { font-weight: bold; }
.org-widget-button-pressed { color: #ff0000; }
.org-widget-documentation { color: #006400; }
.org-widget-field { background-color: #d9d9d9; }
.org-widget-inactive { color: #696969; }
.org-widget-single-line-field { background-color: #d9d9d9; }
.org-woman-addition { color: #ffa500; }
.org-woman-bold {
  color: #0000ff;
  font-weight: bold;
}
.org-woman-italic {
  color: #ff0000;
  font-style: italic;
  text-decoration: underline;
}
.org-woman-unknown { color: #a52a2a; }
.org-yaml-tab {
  color: #ff0000;
  background-color: #ff0000;
  font-weight: bold;
}
.org-yasXfield-highlight { background-color: #b4eeb4; }
.org-yasXmirror-highlight { background-color: #eeeed1; }
